html, body {
    box-sizing: border-box;
    max-width: 1300px;
    min-width: 500px;
    
}
.dashboard h1 {
    font-size: 2em;
    margin: 3px;

}

.points span {
    font-weight: bold;
    color: #00f47e;
    font-size: 20px;    
}


.tips span {
    color: #769b0d;
    
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 15px solid rgb(254, 242, 3);
    border-radius: 30px;
    display: flex;
}

.letter,
.blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

.usedLetters {
    font-size: 25px;
    color: rgb(246, 53, 53);
    font-weight: bold;
}
