html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(20, 20, 244), rgb(5, 1, 30));
  color: rgb(255, 255, 255)
}